@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

.app {
  font-family: 'Press Start 2P', cursive;
}

.normalText {
  font-family: 'VT323', monospace;
}

.active {
  @apply py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold
}

.active2 {
  @apply block text-sm px-2 py-4 text-white bg-green-500 font-semibold
}

.nobull {
  list-style-type: none;
}

.machine{
  width:140px; 
  padding-top:40px;
  transform: translate(-50%,-50%);
  animation:shake .4s infinite;
}

.machine:after{
  content:"";
  position:absolute;
  height:230px;
  width:6px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  background-color:#34495e;
  margin-left:100%;
  margin-top:-250px;
}

.screen {
    width:80px;
    height: 0px;
    border-right: 0px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 130px solid #3498db;
}

.top{
   width: 60px;
   height: 0px;
   border-right:20px solid transparent;
   border-left: 0px solid transparent;
   border-bottom: 40px solid #3498db;
   position:absolute;
   right:0;
   top:0;
}

.table{
  width:200px;
  height:35px;
  transform:translate(-60px,-1px);
}

.bottom{
  width:140px;
  height:100px;
  transform:translateY(-10px);
}

.color{
  background-color:#3498db;
}

.screw{
  height:5px;
  width:5px;
  border-radius:50%;
  background-color:#34495e;
  position:absolute;
  bottom:5px;
  left:5px;
}

.screwRight{
  height:5px;
  width:5px;
  border-radius:50%;
  background-color:#34495e;
  position:absolute;
  bottom:5px;
  right:5px;
}

.screwTop{
  height:5px;
  width:5px;
  border-radius:50%;
  background-color:#34495e;
  position:absolute;
  top:5px;
  left:5px;
}

.panels{
  margin:0 auto;
  text-align:center;
}

.panel{
  height:30px;
  width:3px;
  display:inline-block;
  margin-right:2px;
  margin-top:30px;
  background-color:#34495e;
}

.line{
  background-color:#34495e;
  height:10px;
  width:150px;
  transform:translate(-5px);
  margin-top:10px;
}

.button{
  height:5px;
  width:15px;
  background-color:#f1c40f;
  transform:translate(10px,-5px);
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  animation:push .2s infinite;
}

.stick{
  height:20px;
  width:5px;
  background-color:#7f8c8d;
  transform:translate(35px,-25px);
  animation: moveStick .5s infinite;
}

.stick:after{
  content:"";
  border-radius:50%;
  height:15px;
  width:15px;
  background-color:#e74c3c;
  position:absolute;
  margin-top:-10px;
  margin-left:-5px;
}

.shine{
  position:absolute;
  height:130px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  width:3px;
  margin-left:29px;
  transform:rotate(25deg);
  margin-top:-5px;
  background-color:rgb(66, 244, 220);
  box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, .5);
  animation: flash infinite .3s;
}

@keyframes flash{
  0%{box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, 0);}
  50%{box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, .5);}
  70%{box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, .2);}
  100%{
    box-shadow: -10px 0px 35px 5px rgba(66, 244, 220, .3);
  }
}

p{
 text-align:center;
 color:rgba(66, 244, 220, 1);
 font-family: 'Press Start 2P', cursive;
  margin-top:10px;
  text-shadow:2px 2px #3498db;
  font-size:18px;
}


@keyframes moveStick{
  0%{transform:translate(35px,-24px) rotate(0deg);}
  30%{transform:translate(35px,-24px) rotate(10deg);}
  60%{transform:translate(35px,-24px) rotate(-10deg);}
  100%{transform:translate(35px,-24px) rotate(0deg);}
}

@keyframes push{
  0%{height:5px;}
  50%{height:4px;
  transform:translate(10px,-4px);}
  100%{height:5px;}
}

@keyframes shake{
  0%{transform: translate(-50%,-51%) rotate(0deg);}
  30%{transform: translate(-51%,-50%) rotate(1deg);}
  60%{transform: translate(-49%,-50%) rotate(-1deg);}
  100%{transform: translate(-50%,-51%) rotate(0deg);}
}