@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

.app {
  font-family: 'Press Start 2P', cursive;
}

.normalText {
  font-family: 'VT323', monospace;
}

.active {
  @apply py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold
}

.active2 {
  @apply block text-sm px-2 py-4 text-white bg-green-500 font-semibold
}

.nobull {
  list-style-type: none;
}